<div class="section">
    <div class="section">
        <a class="btn btn-warning" href="/api/sessions/current">Checar mi rol</a>
        <a class="btn btn-info" href="/chat">Chat</a>
        <a class="btn btn-danger" href="/api/sessions/{{idUser}}/signout">Logout</a>
        <a class="btn btn-success" href="/products">Productos</a>
    </div>

    <div class="mb-3">
        {{#each messages}}
        <article class="message is-link">
            <div class="message-header">
                <h3>{{username}} dice:</h3>
            </div>
            <div class="message-body">
                <p>{{message}}</p>
            </div>
        </article>
        {{/each}}
    </div>

    <h3 class="subtitle is-3">Chat de {{username}}</h3>
    <h4 class="subtitle is-4" id="role">{{role}}</h4>

    <form action="/api/chat" method="post">
        <div class="mb-3">
            <input type="text" name="username" id="username" class="form-control" value="{{username}}" aria-label="Disabled input example" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Manda un mensaje</label>
            <textarea type="text" class="form-control" name="message" id="message" rows="3"></textarea>
            <br>
            {{#if (role === "premium")}}
            <button type="submit" class="btn btn-primary" value="SEND" id="enviar" disabled>Enviar (Deshabilitado para Premium)</button>
            {{else}}
            <button type="submit" class="btn btn-primary" value="SEND" id="enviar">Enviar</button>
            {{/if}}
        </div>
    </form>
</div>
