<div class="section">
    <div class="section">
        <a class="btn btn-warning" href="/api/sessions/current">Checar mi rol</a>
        <a class="btn btn-info" href="/chat">Chat</a>
        <a class="btn btn-success" href="/products">Productos</a>
        <a class="btn btn-dark" href="/documents">Subir documentos</a>
        <a class="btn btn-secondary" href="/cart/{{idCart}}">Mi Carrito {{idCart}}</a>
        <a class="btn btn-danger" href="/api/sessions/{{idUser}}/signout">Logout {{idUser}}</a>
    </div>

    <h2 class="subtitle is-1">¡Hola {{username}}!</h2>
    <h2 class="subtitle is-2">Los productos son: </h2>

    {{#each products}}
        <div class="section">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.thumbnail}}" width="100" alt="{{this.description}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">Precio: $ {{this.price}}</p>
                    <p class="card-text">Stock: {{this.stock}}</p>
                    <p class="card-text">Category: {{this.category}}</p>
                    <br>
                    <button type="button" onclick="addProductToCart('{{../idCart}}', '{{this._id}}')" class="btn btn-success">Agregar {{this._id}} al carrito {{../idCart}}</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script type="text/javascript" src="/js/products.js"></script>

